<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>catbot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>crank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dmgl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>dmu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>doublePendulum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>humanoid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>kurmet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>mosekTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>windmill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>wxDMV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>xan_viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>192587ED14D2F22F00778EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1925883614D2F28800778EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1925885614D2F2DD00778EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1925886F14D2F30D00778EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1925889114D2F3EB00778EA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>192D669D151BAEEC00966570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1940A49D1507C75B00CD4386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1952236B14D34FF10042EA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19577E2A1541A01000B991DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197B842B15070B530064753B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19BA5C89158A432100BC26DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19EE3465153C526D0029D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
